.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.navHeader{
  background-color: orchid
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

.intro{
  padding:30px 10px 30px 10px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

.tabHead{
  
  padding:30px 10px 10px 10px;
  margin:0px auto;
  background: lightgray ;
  color: black;
  font-style: oblique;

}

.cardTxt{
  background-color: powderblue
}

.cardAuthor{
  background-color: burlywood
}

.comment{
  padding:30px 10px 30px 10px;
  margin:0px auto;
  background: #cecac4 ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}